In [49]:
import pandas as pd

AGE_DATA = "data/TS007-2021-3.csv"
age_data = pd.read_csv(AGE_DATA)

In [50]:
counts = age_data.groupby(by=["local_name"]).sum().drop(labels=["local_code", "age_code", "age_name"], axis='columns')
print(counts)

               count
local_name
Adur           64547
Allerdale      96156
Amber Valley  126205
Arun          164896
Ashfield      126305
...              ...
Wrexham       135115
Wychavon      132495
Wyre          111949
Wyre Forest   101609
York          202821

[331 rows x 1 columns]

In [51]:

new_df = age_data[(age_data["age_code"] >= 24) & (age_data["age_code"] <= 32)].groupby(by=["local_name"]).sum()
print(new_df.sort_values(by=["count"], ascending=False))

                                                        local_code  age_code  \
local_name
Birmingham       E08000025E08000025E08000025E08000025E08000025E...       252
Leeds            E08000035E08000035E08000035E08000035E08000035E...       252
Manchester       E08000003E08000003E08000003E08000003E08000003E...       252
Wandsworth       E09000032E09000032E09000032E09000032E09000032E...       252
Bristol          E06000023E06000023E06000023E06000023E06000023E...       252
...                                                            ...       ...
Ryedale          E07000167E07000167E07000167E07000167E07000167E...       252
West Devon       E07000047E07000047E07000047E07000047E07000047E...       252
Rutland          E06000017E06000017E06000017E06000017E06000017E...       252
City of London   E09000001E09000001E09000001E09000001E09000001E...       252
Isles of Scilly  E06000053E06000053E06000053E06000053E06000053E...       252

                                                          age_name   count
local_name
Birmingham       Aged 24 yearsAged 25 yearsAged 26 yearsAged 27...  150659
Leeds            Aged 24 yearsAged 25 yearsAged 26 yearsAged 27...  109663
Manchester       Aged 24 yearsAged 25 yearsAged 26 yearsAged 27...   93460
Wandsworth       Aged 24 yearsAged 25 yearsAged 26 yearsAged 27...   80180
Bristol          Aged 24 yearsAged 25 yearsAged 26 yearsAged 27...   79760
...                                                            ...     ...
Ryedale          Aged 24 yearsAged 25 yearsAged 26 yearsAged 27...    4700
West Devon       Aged 24 yearsAged 25 yearsAged 26 yearsAged 27...    4499
Rutland          Aged 24 yearsAged 25 yearsAged 26 yearsAged 27...    3914
City of London   Aged 24 yearsAged 25 yearsAged 26 yearsAged 27...    2089
Isles of Scilly  Aged 24 yearsAged 25 yearsAged 26 yearsAged 27...     193

[331 rows x 4 columns]

In [52]:
new_df = new_df.merge(counts, left_on=["local_name"], right_on=["local_name"])
print(new_df)

                                                     local_code  age_code  \
local_name
Adur          E07000223E07000223E07000223E07000223E07000223E...       252
Allerdale     E07000026E07000026E07000026E07000026E07000026E...       252
Amber Valley  E07000032E07000032E07000032E07000032E07000032E...       252
Arun          E07000224E07000224E07000224E07000224E07000224E...       252
Ashfield      E07000170E07000170E07000170E07000170E07000170E...       252
...                                                         ...       ...
Wrexham       W06000006W06000006W06000006W06000006W06000006W...       252
Wychavon      E07000238E07000238E07000238E07000238E07000238E...       252
Wyre          E07000128E07000128E07000128E07000128E07000128E...       252
Wyre Forest   E07000239E07000239E07000239E07000239E07000239E...       252
York          E06000014E06000014E06000014E06000014E06000014E...       252

                                                       age_name  count_x  \
local_name
Adur          Aged 24 yearsAged 25 yearsAged 26 yearsAged 27...     5844
Allerdale     Aged 24 yearsAged 25 yearsAged 26 yearsAged 27...     9331
Amber Valley  Aged 24 yearsAged 25 yearsAged 26 yearsAged 27...    13147
Arun          Aged 24 yearsAged 25 yearsAged 26 yearsAged 27...    15676
Ashfield      Aged 24 yearsAged 25 yearsAged 26 yearsAged 27...    14572
...                                                         ...      ...
Wrexham       Aged 24 yearsAged 25 yearsAged 26 yearsAged 27...    14678
Wychavon      Aged 24 yearsAged 25 yearsAged 26 yearsAged 27...    12620
Wyre          Aged 24 yearsAged 25 yearsAged 26 yearsAged 27...    10059
Wyre Forest   Aged 24 yearsAged 25 yearsAged 26 yearsAged 27...    10006
York          Aged 24 yearsAged 25 yearsAged 26 yearsAged 27...    23587

              count_y
local_name
Adur            64547
Allerdale       96156
Amber Valley   126205
Arun           164896
Ashfield       126305
...               ...
Wrexham        135115
Wychavon       132495
Wyre           111949
Wyre Forest    101609
York           202821

[331 rows x 5 columns]

In [54]:
percentages_of_population = new_df[["count_x"]].div(new_df["count_y"].values, axis=0)
print(percentages_of_population.sort_values(by=["count_x"], ascending=False)) # woooo success

                   count_x
local_name
Tower Hamlets     0.253449
Wandsworth        0.244820
City of London    0.243502
Lambeth           0.243315
Islington         0.233915
...                    ...
West Devon        0.078801
South Hams        0.078700
Rother            0.077628
North Norfolk     0.077019
Derbyshire Dales  0.076409

[331 rows x 1 columns]